<div align="center">
	<div class="site hfeed" itemscope="" itemtype="http://schema.org/WebPage">
		<div class="hentry">
			<div class="pagehead repohead instapaper_ignore readability-menu ">
				<div class="container">
					<ul class="tabs">
						<li>
							<% if @payments %>
    						<a href="/coming_incomes" id="incomesButton" class="js-selected-navigation-item" class="btn">Check upcoming incomes</a>
							<%else%>
							<a href="/coming_expirations" id="paymentsButton" class="js-selected-navigation-item" class="btn">Check upcoming payments</a>
							<%end%>
						</li>
						<li>
							<a href="/new_transaction?is_payment=1" id="addNewPaymentButton" class="js-selected-navigation-item">Add new payment</a>
						</li>
						<li>
							<a href="/new_transaction?is_payment=0" id="addNewIncomeButton" class="js-selected-navigation-item">Add new income</a>
						</li>
					</ul>
				</div>
			</div><!-- /.repohead -->
		</div>
	</div>
	
	
	<h1>Upcoming <% if @payments %>payments<% else %>incomes<%end%></h1>
	
	<% if @expirations.empty? %>
	<p>
		You don't have upcoming <% if @payments %>payments<% else %>incomes<%end%>
	</p>
	<% else %>
	<table class="table" align="center" border="1">
		<tr>
			<th><% if @payments %>Payment<% else %>Income<%end%> name</th>
			<th><% if @payments %>Payment<% else %>Income<%end%> date</th>
			<th>Confirm <% if @payments %>payment<% else %>income<%end%> received</th>

			<% @expirations.each do |pay| %>
		<tr>
			<td><%= pay.name %></td>
			<td><%= pay.pay_date.to_date %></td>
			<td>
			<form  action="pay" method="get">
				<input type="hidden" name="payment_name" value="<%= pay.name %>">
				<input type="hidden" name="is_payment" value="<% if @payments %>1<% else %>0<%end%>">
				<input class="btn-primary" type="submit" value="<% if @payments %>Pay it!<% else %>Confirm reception<%end%>" id="pay_<%= pay.name %>_button">
			</form></td>
			<!-- <td><#%= link_to 'Remove', pay, :confirm => 'Are you sure?', :method => :delete %></td> -->
		</tr>
		<% end %>
		</tr>
	</table>
	<% end %>
	


	<br>
	<br>

	<div class="well" >
		<div class="form-horizontal" >
			<form action="stats" method="get" id="stats" class="form-horizontal">
				<p>
					View how many payments or incomes I did in a given period of time
				</p>
				From date
				<input type="date" id="from_date" name="from_date" value="<%= Date.today %>" />
				To date
				<input type="date" id="to_date" name="to_date" value="<%= Date.today + 1 %>" />
				Type
				<select name="type" id="type">
					<option value="1">Payments</option>
					<option value="0">Incomes</option>
				</select>
				<input type="submit" value="View stats" id="viewStatsButton" class="btn"/>
			</form>
		</div>
	</div>
</div>

