<div align="center">
	<h1>Confirm your payment</h1>
	<br>

	<form  action="save_payment" method="get">
		Payment name:  <input type="text" name="label" value="<%= @payment.name %>" disabled>
		<br>
		Payment date:  <input type="date" name="payment_date" value="<%=Date.today %>">
		<br>

		<input type="hidden" name="name" value="<%= @payment.name %>"  >
		<input type="hidden" name="amount" value="<%= @payment.amount %>">
		<input type="hidden" name="description" value="<%= @payment.description %>">
		<input type="submit" value="Confirm Payment" class="btn" name="confirmPayment">
	</form>
	
	<a href="/coming_expirations"><button class="btn">Return to upcoming payments</button></a>
</div>
