<div class="well">
	<div class="centered">

		<% if @is_payment.eql?('1') %>
		<h1>New Payment details</h1>
		<h2> The <%= @transaction.name %> payment has been registered </h2>
		<p>
			Name: <%= @transaction.name %>
		</p>
		<p>
			Amount: <%= @transaction.amount %>
		</p>
		<p>
			PaymentDate: <%= @transaction.pay_date.to_date %>
		</p>
		<% if !@periodicity.eql?('0') %>
		<p> 
			PaymentPeriodicity: <%= @transaction.periodicity %> months
		</p>
		<% end %>
		<p>
			Description: <%= @transaction.description %>
		</p>
      </br>
      <% if @notify %>
			<p>You will receive a notification <%= @advance_notify %> day/s before </p>
         <p>the <%= @transaction.pay_date.to_date %> remembering you to pay it. </p>
      <% end %>
		<form class="centered" method="get" action='/coming_expirations'>
			<input type="submit" class="btn big" id="returnNew" value="Return to upcoming payments" />
		</form>
		
		<% else %>
		<h1>New Income details</h1>
		<h2> The <%= @transaction.name %> income has been registered </h2>
		<p>
			Name: <%= @transaction.name %>
		</p>
		<p>
			Amount: <%= @transaction.amount %>
		</p>
		<p>
			PaymentDate: <%= @transaction.pay_date.to_date %>
		</p>
		<% if !@periodicity.eql?('0') %>
		<p>
			PaymentPeriodicity: <%= @transaction.periodicity %>  months
		</p>
		<% end %>
		<p>
			Description: <%= @transaction.description %>
		</p>
		<form class="centered" method="get" action='/coming_expirations'>
			<input type="submit" class="btn big" id="returnNew" value="Return to upcoming payments" />
		</form>
		
		<% end %>
		
	</div>

</div>

